#teams{
    width: 100%;
    height:500px;
    display: grid;
    justify-content:center;
    align-items:center;
    /* background-color: linear-gradient(90deg,pink 50%,white 50%);
     */
     background: linear-gradient(180deg, purple, violet,pink 50%, white 50%);

}
.teams_cards{
    display: flex;
    /* background-color:white; */
    gap:30px;
}
.team_card{
    
    width:300px;
    display: flex;
    height:450px;
    align-items: center;
    justify-content: center;
    background-color:white;
    border-radius: 20px;;
}
.card__image{
    border-radius:50%;
}
.teams_button_curve{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color: white;
    color:black;
    border:1px solid black;
}
.teams_button_curve:hover{
    color:purple;
    border: 3px solid purple;
}
@media (max-width: 767px){
    #teams{
        height:1500px;
    }
    .teams_cards{
        flex-direction: column;
        
    }

}