@import url("https://fonts.googleapis.com/css?family=Nunito:300, 400, 600, 700, 800, 900|Poppins:300, 400, 500, 600, 700, 800, 900&display=swap");
#teams{
    width: 100%;
    height:500px;
    display: grid;
    justify-content:center;
    align-items:center;
    background: linear-gradient(180deg, purple, violet,pink 50%, white 50%);
    overflow: auto;
}
#teams2{
    width: 100%;
    height:500px;
    display: grid;
    justify-content:center;
    align-items:center;
    overflow: auto;
    margin-top: -5vw;
}
.teams_cards{
    width:100%;
    min-width: 300px;
    display: flex;
    /* background-color:white; */
    gap:30px;
    overflow: auto;
    padding-left: 5vw;
    padding-right: 5vw;
}
.team_card{
    display: flex;
    width:270px;
    height:420px;
    align-items: center;
    justify-content: center;
    background-color:rgb(250, 250, 250);
    border-radius: 20px;
}
.card__image{
    border-radius:50%;
}
.teams_button_curve{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color: white;
    color:black;
    border:1px solid black;
}
.teams_button_curve:hover{
    color:purple;
    border: 3px solid purple;
}
.feature_image{
    width:33%;
}
.main_picture{
    /* width:75%; */
    height:100vh;
}
@media (max-width: 567px) {
    body {
        overflow-y: hidden;
    }
    #teams, #teams2{
        justify-content:start;
        background: linear-gradient(180deg, purple, violet,pink 50%, white 50%);
        overflow-x: scroll;
    }
    .teams_cards{
        margin-left:30px;
        padding-bottom: 0;
    }
}
/*.dark-mode-button {
    background-color: rgb(198, 32, 213);
    border: 0px;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(255, 248, 248);
    transition: 1.2s;
}
.dark-mode-button:hover {
    background-color: #000;
    color: white;
}*/
/*[data-theme="dark"] {
    --primary-color: #9a97f3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}
body {
    background-color: var(--bg-color);
    color: var(--font-color);
}
nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}
.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
.theme-switch input {
    display: none;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.5s;
    width: 26px;
}
input:checked + .slider {
    background-color: #9c66bb;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}*/