@import url("https://fonts.googleapis.com/css?family=Nunito:300, 400, 600, 700, 800, 900|Poppins:300, 400, 500, 600, 700, 800, 900&display=swap");
#teams {
    width: 100%;
    height: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, purple, violet, pink 50%, white 50%);
    overflow: auto;
}

#teams2 {
    width: 100%;
    height: 480px;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-top: -5vw;
}

.teams_cards {
    width: 100%;
    min-width: 300px;
    display: flex;
    /* background-color:white; */
    gap: 30px;
    overflow: auto;
    padding-left: 5vw;
    padding-right: 5vw;
}

.team_card {
    display: flex;
    width: 250px;
    height: 280px;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
}

.card__image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.teams_button_curve {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.teams_button_curve:hover {
    color: purple;
    border: 3px solid purple;
}

.feature_image {
    width: 33%;
    margin-top: -15%;
    margin-bottom: -40%;
}

.main_picture {
    /* width:75%; */
    height: 100vh;
}

@media (max-width: 567px) {
    body {
        overflow-y: hidden;
    }
    .feature_image {
        display: none;
    }
    #teams {
        justify-content: start;
        background: linear-gradient(180deg, purple, violet, pink 50%, white 50%);
        overflow-x: scroll;
    }
    #teams2 {
        justify-content: start;
        overflow-x: scroll;
    }
    .team_card {
        display: flex;
        width: 200px;
        height: 200px;
    }
    .card__image {
        width: 70px;
        height: auto;
    }
    .teams_cards {
        margin-left: 30px;
        padding-bottom: 0;
        width: 80%;
        min-width: 30px;
        display: flex;
        /* background-color:white; */
        gap: 3px;
        overflow: auto;
        padding-left: 0vw;
        padding-right: 0vw;
    }
    .single-cases-img {
        width: 85%;
        justify-content: center;
        padding-left: 15%;
        height: auto;
    }
}

.column>p>a {
    font-size: 1.2vw;
    color: #d34fe1;
    color: var(--font-color);
}

.column>p>a:hover {
    font-size: 1.25vw;
    color: #f4456e;
}

.column {
    float: none;
    width: 25%;
    padding: 0vw 3vw 0vw 3vw;
    text-align: center;
    justify-content: center;
    height: 15vw;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
    justify-content: center;
}

.user-dev {
    width: 40%;
    border-radius: 50%;
    animation: borderrgb 5s infinite;
}

@keyframes borderrgb {
    0% {
        border: solid 2px #d374de;
    }
    50% {
        border: solid 2px #d6678c;
    }
    100% {
        border: solid 2px #d374de;
    }
}

.cursor {
    cursor: pointer;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-img {
    float: none;
    width: 33%;
    padding: 7vw;
    text-align: center;
    justify-content: center;
    height: 15vw;
}

@media screen and (max-width: 600px) {
    .user-dev {
        width: 50%;
        border-radius: 50%;
    }
    .column {
        width: 50%;
        height: 5%;
    }
    .column>p>a {
        font-size: 3.5vw;
        padding-bottom: 0vw;
    }
    .column-img {
        float: none;
        width: 100%;
        padding-bottom: 82vw;
        text-align: center;
        justify-content: center;
        height: 15vw;
    }
}

.meet-the-team {
    color: var(--font-color);
    font-size: 50px;
    font-weight: 700;
    padding-top: 3vw;
    padding-bottom: 3vw;
    line-height: 1.2;
    padding-top: 10px;
}

.div_section4 {
    overflow: hidden;
    width: 89%;
    margin: 0 auto;
    padding-top: 2vw;
}